/* .button {
    margin-left: 100px;
    margin-top:  10px;
    display:  inline-block;
    padding:  5px 10px;
    border: solid 1px;
    cursor:  pointer;
}
.titile-man {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 60px;
    position: relative;
    padding: 0.1em 0.5em;
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255), transparent);
    background: linear-gradient(to right, rgb(0, 0, 0), transparent);
    color: #ffffff;
    font-family: 'Sacramento', cursive;src: url('https://fonts.googleapis.com/css?family=Sacramento');
}

h2 {
    background-color: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 10px groove rgb(255, 255, 255);
}

div#body {
    background-color: #ebebebd1;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 350px;
    border-radius: 100px 100px 100px 100px;
    height: 280px;
    width: 600px;
    float: left;
    margin-left: 80px;
    border: 10px groove #2E294E;
}

body {
    background-color: #ffffff;
}

/* a {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    display: block;
    padding-top: 27px;
    margin-top: 1px;
    text-align: center;
    text-decoration: none;
    width: 230px;
    height: 90px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100vh;
    background: #c6fcbd;
    color: #000000;
    float: right;
} */
/* a:hover {
    color: black;
    }
button#update {
    background-color: rgb(0, 64, 255);
    padding: 2px;
    font-size: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-family: '游明朝体+36ポかな','YuMincho +36p Kana',sans-serif;
}
button#update:hover {
    background-color: #fff;
    color: rgb(0, 64, 255);
}

button#delate {
    background-color: rgb(245, 0, 0);
    padding: 2px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    font-family: '游明朝体+36ポかな','YuMincho +36p Kana',sans-serif;
}
button#delate:hover {
    background-color: #fff;
    color: rgb(245, 0, 0);
}
#maru{
    width: 230px;
    height: 230px;
    background-color: #18dcff;
    margin-top: -20px;
    margin-left: 10px;
    transition: 3s;
    border-radius: 200px;
    box-shadow: 4px 5px 3px 5px rgba(180, 179, 179, 0.5);
}
#maru.active {
    width: 115px;
    height: 115px;
    margin-left: 1000px;
    border-radius: 200px;
    box-shadow: -4px 5px 3px 5px rgba(180, 179, 179, 0.5);
}

#maru2 {
    width: 115px;
    height: 115px;
    border-radius: 200px;
    margin-right: 40px;
    margin-left: auto;
    background-color: #18dcff;
    transition: 2s;
    box-shadow: -4px 5px 3px 5px rgba(180, 179, 179, 0.5);
}
#maru2.active {
    width: 230px;
    height: 230px;
    border-radius: 200px;
    box-shadow: 4px 5px 3px 5px rgba(180, 179, 179, 0.5);
    margin-right: 1200px;
}

#maru3 {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    box-shadow: 4px 5px 3px 5px rgba(180, 179, 179, 0.5);
    background-color: #18dcff;
    transition: 4s;
}
#maru3.active {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    box-shadow: -4px -5px 3px 5px rgba(180, 179, 179, 0.5);
    margin-left: 1200px;
}

#maru4 {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    box-shadow: 4px 5px 3px 5px rgba(180, 179, 179, 0.5);
    background-color: #18dcff;
    transition: 5s;
}
#maru4.active {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    box-shadow: -4px -5px 3px 5px rgba(180, 179, 179, 0.5);
    margin-left: 1200px;
} */ */