{% extends "base.html" %}
{% block body %}

<body>
    <h1 id="title">Polka dots</h1>
    <button id="cancel" onclick="location.href='/'" type="button">← 戻る</button>
    <h1 id="tit">話題の作成</h1>
    <form method="POST">
        <label id="title" for="title">タイトル</label>
        <input id="title" type="text" size="30" placeholder="タイトルをご記入ください" name="title">
        <br>
        <label id="body" for="body">内容</label>
        <textarea id="body" name="body" cols="50" rows="10" placeholder="内容を記入"></textarea>
        <br>
        <input id="touroku" type="submit" value="話題の追加">
    </form>

    <script src="{{ url_for('static', filename='js/create.js') }}"></script>
</body>
</html>

{% endblock %}