{% extends "base.html" %}
{% block body %}
<body>
    <h1 id="title">Polka dots</h1>
    <button id="cancel" onclick="location.href='/'" type="button">← 戻る</button>
    <h1 id="tit">話題の書き直し</h1>
        <form method="POST">
            <label id="title" for="title">タイトル</label>
            <input id="title" type="text" name="title" value={{ post.title }}>
            <br>
            <label id="body" for="body">内容</label>
            <textarea id="body" type="text" cols="50" rows="10" name="body">{{ post.body }}</textarea>
            <br>
            <input id="hozon" type="submit" value="保存">
        </form>

    <div id="background">
        <div id="sankaku">編集</div>
        <div id="sankaku2">画面</div>
        <div id="sankaku3">編集</div>
        <div id="sankaku4">画面</div>
    </div>
    <!-- <script src="static/js/update.js"></script> -->
    <script src="{{ url_for('static', filename='js/update.js') }}"></script>
</body>
</html>
{% endblock %}